.ModalTaskResult-text, .ModalTaskResult-mark {
    margin: 15px 0px 30px;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    white-space: pre-line;
    word-break: break-word;
    color: rgb(15, 28, 44);
}

.ModalTaskResult-buttons {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 15px 0px;
}

.ModalTaskResult-nextButton {
    min-width: 130px;
    height: 70px;
    margin: 0px 15px;
    padding: 25px 40px;
    background-color: rgb(255, 220, 64);
    border-radius: 100px;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: rgb(15, 28, 44);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}

.ModalTaskResult-resButton {
    min-width: 130px;
    height: 70px;
    margin: 0px 15px;
    padding: 25px 40px 25px 53px;
    border-radius: 100px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    background: transparent;
    border: 2px solid rgb(81, 81, 81);
    color: rgb(81, 81, 81);
}