.QuestionWrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    height: 100%;
    /* max-height: calc(100% - 96px); */
    overflow-y: auto;
    width: 100%;
}

.QuestionWrapper-text {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    padding: 22px;
    box-sizing: border-box;
    color: rgb(15, 28, 44);
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    white-space: pre-line;
    word-break: break-word;
}

.QuestionWrapper-imageBlock {
    /* min-height: 145px;
    border-bottom: 1px solid rgb(219, 219, 219);
    max-height: 180px; */
    display: flex;
    justify-content: center;
}

.QuestionWrapper-image {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    object-fit: contain;
    min-height: 145px;
    border-bottom: 1px solid rgb(219, 219, 219);
    max-height: 200px;
}
