.AccParentItem {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 5px;
  /* background-color: rgb(59, 57, 195); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 90px;
  /* margin-bottom: 24px; */
}

.AccParentItem_text {
  background-color: rgb(60, 64, 191);
}

.AccParentItem_size_small {
  width: 200px;
}

.AccParentItem-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  user-select: none;
  -webkit-user-drag: none;
}

.AccParentItem-text {
  /* color: rgb(15, 28, 44); */
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  white-space: pre-line;
  word-break: break-word;
  text-align: center;
  user-select: none;
}

.AccParentItem-text_size_small {
  font-size: 14px;
}
